@import "app.scss";


//addCar styling
#add_car {
    width: 45%;
    > .level-item {
        width: 100%;
        > .field.has-addons {
            width: 110%;
            > .control:first-child {
                width: 200%;
            }
            > .control:nth-child(2) {
                width: 50%;
            }
        }
    }
    #car_name {
        //width: 20%;
    }
    #car_number {
        //width: 5%;
    }
}

.selected_track {
    background-color: $grey-lightest !important;
}
.selected {
    background-color: $grey-lighter !important;
}

#run_card {
    margin-bottom: 1.5em;
}

#tabs-with-content {
    .tabs:not(:last-child) {
        margin-bottom: 0;
    }
    .tab-content {
        padding: 1rem;
        display: none;
    }
    .tab-content.is-active {
        display: block;
    }
}
table.dataTable {
    border-collapse: collapse !important;
}

