{% extends "racetrack/base.html" %}

{% set datatables=true %}
{% set cdn=false %}
{% set file_name = "detail" %}

{% block title %} {{ race.name }} {% endblock %}
{% block content %}
	<nav id="header" class="navbar" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">
		<a class="title media level" id="header-title"  href={{url("racetrack:index")}}>
			<div class="level-item">
				<figure class="media-left level_item image is-64x64">
					<img  src={{static("racetrack/images/race-car.png")}}>
				</figure>
				<h2>Racetrack.io</h2>
			</div>
		</a>
	  </div>
	  <div class="navbar-menu">
		<div class="navbar-end">
		  <div class="navbar-item">
			<div class="buttons">
			  <a class="button is-primary is-rounded cursive"  href={{url("racetrack:speeds",race_id=race.id)}}>
				Speeds
			  </a>
			</div>
		  </div>
		</div>
	  </div>
	</nav>

	<div class="columns">
		<div id="dashboardCard_tmpl" class="column is-4"></div>
		<div class="column">
			<div id="tabs-with-content">
			  <div class="tabs">
				<ul>
					<li><a>Cars</a></li>
					<li><a>Race</a></li>
					<li><a>Runs</a></li>
				</ul>
			  </div>
			  <div>
				<section class="tab-content" id="tab-cars"><!--Cars Tab-->
					<div id="addCar_tmpl"></div>
					<div id="carTbl_cars_tmpl"></div>
				</section>
				<section class="tab-content" id="tab-race">

				</section>
				<section class="tab-content" id="tab-runs">
					<div id="run_card" class="card">
						<div class="card-header">
							<div id="run_title" class="run_title card-header-title">Run #{{ current_run + 1 }}</div>
							<div class="card-header-icon">
									<div class="control">
										<button class="button is-rounded is-primary hidden" id="new_run" autocomplete="off">New Run</button>
									</div>
									<div class="control">
										<button class="button is-rounded is-primary" id="post_run" autocomplete="off" disabled="True">Start Run</button>
									</div>
							</div>
						</div>
					  <div class="card-content">
						  <div id="run_tracks" class="level columns">
							  {% for track in race.track_set.all() %}
								<div id="addToTrack_{{ track.number }}" class="run_track level-item column has-text-centered">
									<div class="field addToTrack_field">
										<div class="control">
											<button class="button is-rounded addToTrack" id="{{ track.number }}">Set</button>
										</div>
									</div>
									<div class="field content">
										<p class="heading">Track {{ track.number }}</p>
								  		<p class="track_car_id title">-</p>
								  		<p class="track_car_name subtitle invisible">-</p>
									</div>

								</div>
							  {% endfor %}
						  </div>
						</div>
					  </div>
					<div id="carTbl_runs_tmpl"></div>
					<div id="resultsCard_tmpl"></div>
				</section>
			  </div>
			</div>
		</div>
	</div>
{% endblock %}