<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Racetrack</title>
    <link rel="shortcut icon" type="image/png" href="{{ static('racetrack/images/favicon.ico') }}"/>
	  <script type="text/javascript" src="{{ static('racetrack/lib/js/jquery-3.6.0.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static('racetrack/styles/index.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav id="header" class="navbar" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">
		<a id="header-title" class="navbar-item" href="{{ url('racetrack:index') }}">Racetrack.io</a>
	  </div>

	  <div id="navbarBasicExample" class="navbar-menu">

		<div class="navbar-end">
		  <div class="navbar-item">
			<div class="buttons">
			  <a class="button is-primary">
				<strong>Start</strong>
			  </a>
			</div>
		  </div>
		</div>
	  </div>
	</nav>
	<div class="content">
    {% if latest_race_list %}
    <ul>
    {% for race in latest_race_list %}
        <li><a href="{{ url('racetrack:race',race.id) }}">{{ race.name }} - {{ race.date }}</a></li>
    {% endfor %}
    </ul>
	{% else %}
		<p>No races are available.</p>
	{% endif %}
		</div>
  </body>
</html>

