{% extends "racetrack/base.html" %}

{% set datatables=false %}
{% set cdn=false %}
{% set file_name='speeds' %}

{% block title %}Leaderboard - {{ race.name }}{% endblock %}
{% block content %}
    <div class="columns">
        <div id="race_results" class="column">
            <div class="columns is-multiline">
                {% for track in race.track_set.all() %}
                    <div id="track_{{ track.number }}" class="results_track column is-half is-track">
                        <div class="card">
                            <div class="card-content">
                                <h1 class="is-1 title cursive" style="color: {{track.name}}">Track {{ track.number }}: {{ track.name }}</h1>
                                <div class="container has-text-centered">
                                    <p class="track_car_number track_car is-size-2 cursive title">-</p>
                                    <p class="track_car_name track_car is-size-3 cursive invisible"></p>
                                </div>
                            </div>
                            <div class="level columns card-footer">
                                 <div class="level-item has-text-centered column is-one-third">
                                    <div>
                                      <h4 class="is-3 subtitle cursive speed_title">MPH*</h4>
                                      <h1 class="is-1 track_car_mph strong cursive track_car title invisible">-</h1>
                                    </div>
                                  </div>
                                <div class="level-item has-text-centered column is-one-third">
                                    <div>
                                      <h3 class="is-3 subtitle cursive speed_title">FPS</h3>
                                      <h1 class="is-1 track_car_fps strong cursive track_car title invisible">-</h1>
                                    </div>
                                  </div>
                                <div class="level-item has-text-centered column is-one-third">
                                    <div>
                                      <h3 class="is-3 subtitle cursive speed_title">MPS</h3>
                                      <h1 class="is-1 track_car_mps strong cursive track_car title invisible">-</h1>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
              {% endfor %}
            </div>
        </div>
        <!--<div id="resultsCard_tmpl" class="column" ></div>-->
        <div id="dashboardCard_tmpl" class="column is-4"></div>
    </div>
{% endblock %}

